.register-form-component-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em !important;
  width: 50% !important;
}

.register-view-adjust {
  height: 100vh !important;
}

.alertStyle {
  width: 90%;
}