.signin-form-component-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 50% !important;
}



.outer-form {
  width: 100% !important;
  border: none !important;
}

.alertStyle {
  width: 90%;
}

.link-container {
  text-align: center;
  padding-bottom: 10px;
}

.text-centered { text-align: center  }