.upload-form-component-container {
  padding: 1.5em 3.5em 1.5em 2.5em !important;
}

.file-upload-form {
  border: .2rem solid #ececec;
  padding: 1em;
  width: 100%;
  border-radius: 10px;
}

#fileAddButton {
  margin-top: 10px;
}

.itemUpload {
  margin-top: 5px;
}

#uploadedFilesLabel {
  margin-bottom: 10px;
}

#formDescription {
  margin-top: 5px;
}

.form-group {
  margin-top: 12px;
}