.main-container {
  height: 100vh;
}

.jumbotron-image {
  background: url("https://i.imgur.com/MsKlsdD.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-container {
  display: flex;
  max-width: 600px;
/*   height: 200px; */
  background: #FAF7FF;
  box-shadow: 3px 3px 0px rgba(0,0,0,0.20);
  padding: 20px 20px 0;
  border-radius: 4px;
  margin: 15px auto;
}

hr { 
  border: 0; 
  height: 1px;
  position: relative;
  margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
}
hr:before {
  top: -0.5em;
  height: 1em;
}
hr:after {
  content:'';
  height: 0.5em;   /* half the height of :before */
  top: 1px;        /* height of hr*/
}

hr:before, hr:after {
  content: '';
  position: absolute;
  width: 100%;
}

hr, hr:before {
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
  background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

body, hr:after {
  background: #f4f4f4;
}